<include file="./Application/Tpl/header-admin.html" />

<body>
	<div class="container" align="center" style="margin: 20px;">
		<button class="btn btn-info" id="addbutton">
			<span class="glyphicon glyphicon-plus"></span>添加目录
		</button>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th style="text-align: center; width:50px">序号</th>
					<th>目录名称</th>
					<th style="text-align: center; width:300px">操作</th>
				</tr>
			</thead>
			<volist name="list" id="vo">
			<tr>
				<td align="center">{$key+1}</td>
				<td>{$vo.text}</td>
				<td width="250px">
					<button class="btn btn-info" onclick="editSellCategoryInput({$vo.uid})" title="编辑">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button class="btn btn-danger" data-toggle="modal" data-target="#myModal" 
						onclick="deleteSellCategory({$vo.uid})" title="删除">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<button class="btn btn-success" onclick="upSellCategory({$vo.uid})" title="上移">
						<span class="glyphicon glyphicon-arrow-up"></span>
					</button>
					<button class="btn btn-success" onclick="downSellCategory({$vo.uid})" title="下移">
						<span class="glyphicon glyphicon-arrow-down"></span>
					</button>
					
				</td>
			</tr>
			</volist>
		</table>
		<div class="container" align="center" style="margin-top: 0; margin-bottom:20px;">
			<ul class="pagination nomargin">{$page}
			</ul>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">警告</h4>
				</div>
				<div class="modal-body">确定要删除该出售目录吗？</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-danger" onclick="doDeleteSellCategory()">确定删除</button>
				</div>
			</div>
		</div>
	</div>

	<form id="theform" method="post">
		<input type="hidden" id="uid" name="uid">
	</form>
</body>
<script>
function submitForm(url) {
    $("#theform").attr("action", url);
    $("#theform").submit();
}

$("#addbutton").click(function() {
    submitForm("__CONTROLLER__/addSellCategoryInput");
});

function editSellCategoryInput(uid) {
    $("#uid").val(uid);
    submitForm("__CONTROLLER__/editSellCategoryInput");
}

function upSellCategory(uid) {
    $("#uid").val(uid);
    submitForm("__CONTROLLER__/upSellCategory");
}
function downSellCategory(uid) {
    $("#uid").val(uid);
    submitForm("__CONTROLLER__/downSellCategory");
}

function deleteSellCategory(uid) {
    $("#uid").val(uid);
}

function doDeleteSellCategory() {
    submitForm("__CONTROLLER__/deleteSellCategory")
}
</script>
</html>