<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="./Application/Tpl/header-admin.html" />
<script charset="utf-8" src="__PUBLIC__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor/lang/zh_CN.js"></script>
<link href="__PUBLIC__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script charset="utf-8" src="__PUBLIC__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script charset="utf-8" src="__PUBLIC__/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link href="__PUBLIC__/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="__PUBLIC__/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script>
	KindEditor.ready(function(K) {
		window.editor = K.create('#editor_id');
	});
</script>
</head>

<body>
	<div class="container nomargin">
		<div class="page-header">
			<h3>编辑{$categoryText}</h3>
		</div>
		<form action="{:U('Admin/RichEdit/updateRichText')}" method="post">
			<input type="hidden" name="uid" value="{$record.uid}">
			<div class="form-group">
				<label for="title">{$categoryText}标题</label>
				<input type="text" class="form-control" name="title" id="title" value="{$record.title}">
			</div>
			<div class="form-group">
				<label for="isShow">是否显示？</label>
				<if condition="$record.isshow eq 1">
				<input type="checkbox" class="form-control" name="isShow" id="isShow" data-toggle="toggle" value="1" checked>
				<else/>
				<input type="checkbox" class="form-control" name="isShow" id="isShow" data-toggle="toggle" value="1">
				</if>
			</div>
			<div class="form-group">
				<label for="thedate">{$categoryText}日期</label>
				<div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd"
					data-link-field="thedate" data-link-format="yyyy-mm-dd" style="width: 200px;">
					<input class="form-control" size="16" type="text" value="{$record.thedate}" readonly> <span class="input-group-addon"><span
						class="glyphicon glyphicon-remove"></span></span> <span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span></span>
				</div>
				<input type="hidden" id="thedate" name="thedate" value="{$record.thedate}" />
			</div>
			<div class="form-group">
				<label for="editor_id">{$categoryText}内容</label>
				<textarea id="editor_id" name="content" style="width: 100%; height: 400px;">{$record.content}</textarea>
			</div>
			<div align="center">
				<button class="btn btn-success" type="submit" id="save" value="submit">提交</button>
				<button type="button" class="btn btn-default" id="backbtn">取消</button>
				<br/><br/>
			</div>
			<input type="hidden" name="category" value="{$record.category}">
		</form>
	</div>

	<form id="form" action="__CONTROLLER__/getList/category/{$record.category}" method="post"></form>
</body>
<script>
$("#backbtn").click(function() {
    $("#form").submit();
});
$('.form_date').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	minView: 2,
	forceParse: 0
});
</script>
</html>