<!DOCTYPE html>
<html lang="zh-CN">
<head>
<include file="./Application/Tpl/header-admin.html" />
</head>

<body>
	<div class="container">
		<div class="page-header" align="center" style="margin-top: 20px">
			<h4>
				<strong>用户列表</strong>
			</h4>
		</div>
	</div>
	<empty name="list">
	<div class="container">
		<div class="page-header" align="center" style="margin-top: 20px">
			<h4>***还没有用户***</h4>
		</div>
	</div>
	<else />
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th align="center">序号</th>
					<th>真实姓名</th>
					<th>登录名称</th>
					<th>用户组别</th>
					<th>创建时间</th>
					<th>最后登录时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<volist name="list" id="vo">
			<tr>
				<td align="center">{$key+1}</td>
				<td>{$vo.display_name}</td>
				<td>{$vo.user_name}</td>
				<td>{$userGroupList[$vo[user_group]]}</td>
				<td>{$vo.create_time}</td>
				<td>{$vo.last_logon_time}</td>
				<td><a href="__CONTROLLER__/editUserIn/uid/{$vo.uid}" class="btn btn-info">&nbsp; <span
						class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;
				</a>
					<button class="btn btn-danger" data-toggle="modal" data-target="#myModal" onclick="setUid({$vo.uid})">
						<span class="glyphicon glyphicon-remove"></span>
					</button></td>
			</tr>
			</volist>
		</table>
	</div>
	</empty>
	<div class="container" align="center" style="margin-top: 0">
		<ul class="pagination nomargin">{$page}
		</ul>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">警告</h4>
				</div>
				<div class="modal-body">确定要删除该用户吗？</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-danger" onclick="deleteSeller()">确定删除</button>
				</div>
			</div>
		</div>
	</div>

	<form id="theform" method="post">
		<input type="hidden" id="uid" name="uid">
	</form>
</body>

<script>
function submitForm(url) {
    $("#theform").attr("action", url);
    $("#theform").submit();
}

function setUid(uid) {
    $("#uid").val(uid);
}

function deleteSeller() {
	submitForm("__CONTROLLER__/deleteUser");
}
</script>
</html>